@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
#about .row .col-md-5 {
    display: flex;
    justify-content: flex-end;
}

#about .row .col-md-5 img {
    width: 80%;
    object-fit: contain;
}

#about .row .col-md-7 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-left: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about .row .col-md-7 .social {
    display: flex;
    flex-direction: column;

}

#about .row .col-md-7 .social div {
    font-weight: 500;
    font-size: 1.2rem;
    border: #e292da;
}

#about .row .col-md-7 .social .links {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

#about .row .col-md-7 .social .links a {
    text-decoration: none;
}

#about .row .col-md-7 .social .links a i{
    font-size: 2.5rem;
    color: black;
    display: flex;
    justify-content: center;
}

#about .row .col-md-7 .social .links a i:hover {
    color: #e292da;;
}

footer {
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
footer span{
    position: absolute;
    right: 0;
    font-size: .8rem;
    bottom: 0;
}

@media screen and (max-width: 1200px) {
    #about .row .col-md-7 {
        padding-right: 5rem;
        font-size: 1rem;
    }
    #about .row .col-md-5 img {
        width: 90%;
    }
}
@media screen and (max-width: 990px) {
    #about .row .col-md-7 {
        padding-right: 2rem;
    }
    #about .row .col-md-5 img {
        width: 90%;
    }
    #about .row .col-md-7 .social {
        margin-top: 2rem;
    }
    #about .row .col-md-7 .social a i{
        font-size: 2rem
    }
    #about .row .col-md-7 .social .links {
        width: 18%;
    }
}
@media screen and (max-width: 767px) {
    #about .row .col-md-5 {
        justify-content: center;
    }
    #about .row .col-md-5 img {
        width: 60%;
        padding-bottom: 2rem;
    }
    
}
@media screen and (max-width: 575px) {
    #about .row .col-md-5 img {
        width: 80%;
    }
    #about .row .col-md-7 .social {
        width: 20%;
    
    }
}