.img {
    position: relative;
}

.img_main {
    display: block;
    width: 100%;
}

.img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.25s;
}

.img_overlay:hover {
    opacity: 1;
}

.img_overlay span {
    height: 100%;
    font-size: 2.5rem;
    text-align: center;
    transform: translateY(40px);
    transition: transform 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.img_overlay span:hover {
    transform: translateY(0);
}